body {
    background-color: rgb(218, 212, 206);
    color: white;
}
.mojbox{

    width: 75%;
    margin: auto;
    height: auto;
    
}
.mojbox2{

    width: 100%;
    height: 100%;
    margin: 0;
    
}